.vagrant
.ipynb_checkpoints

*~
*.log

buildfiles

vmfiles/hive/metastore_db
vmfiles/hive/warehouse

vmfiles/R/*
vmfiles/Soft

vmfiles/IPNB
!vmfiles/IPNB/Examples
vmfiles/IPNB/Examples/b Graphics/*.gv
vmfiles/IPNB/Examples/b Graphics/*.svg
vmfiles/IPNB/Examples/b Graphics/*.png

Untitled*.ipynb
